body {
  background-color: 99ccff;
  text-align: center;
}

h1 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#divider {
  font-size: 2em;
  position: relative;

}

h2 {
  padding-top: 0px;
  margin-top: 0px;
}